---
import Layout from "../layouts/Layout.astro";
import AppEntry from "../components/entries/AppEntry";
---

<Layout title="Ryszki Szyszki Fiszki">
  <main class="min-h-screen bg-background text-foreground">
    <AppEntry client:load />
  </main>
</Layout>
