name: Setup Node
description: Set up Node.js and install dependencies
runs:
  using: composite
  steps:
    - uses: actions/setup-node@v6
      with:
        node-version-file: .nvmrc
        cache: npm
    - name: Install dependencies
      shell: bash
      run: npm ci
